@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700;900&display=swap');

html, body { height: 100% }


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(46, 46, 46)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../src/assets/images/brewery_hero2.jpg");
  background-size: cover;
  /* min-height: 40rem; */
  /* background-color: black; */
  /* opacity: .2; */
}

.hero .container {
  min-height: 40rem;
}

/* Fonts */

a {
  color: rgb(235, 176, 14);
  text-decoration: none;
}
a:hover {
  color: rgb(177, 133, 11);
  text-decoration: none;
}

/* Text Sizes */
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0;
  color:rgb(27, 27, 27)
}

h2.title {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 2.6rem;
}

h3 {
  font-weight: 700;
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-weight: 500;
}

.text_white {
  color:white
}

.weight-bold {
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;   
}

.form-control:focus {
  background-color: #fff;
  border-color: #ebebeb;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(192 192 192 / 25%)
}

/* Modals */

.modal-content {
  border: none;
  border-radius: 1rem;
  outline: 0;
  padding: 2rem;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Search */

.search {
  width: 40rem;
  border: none;
  padding: .5rem 1.5rem;
  height: 2.75rem;
  border-radius: .75rem;
  font-weight: bold;
}

.search-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../src/assets/images/search_background.jpg");
  background-size: cover;
  background-position: center 20%;
  padding: 3rem;
}

.search-container .search {
  padding: .5rem 1.5rem;
  height: 2.75rem;
}

.search-results {
  margin-top: 2rem;
}

.result {
  padding: 2rem 0;
  border-top: 1px solid #bfbfc7;
}

.result:first-child {
  margin-top: 3rem
}

/* Buttons */

.btn {
  padding: .5rem 2rem;
  height: 2.75rem;
  border: none;
  border-radius: 3rem;
  font-weight: bold;
}

.btn-secondary {
  background-color:rgb(235, 176, 14);
}

.btn-secondary:hover {
  background-color:rgb(177, 133, 11)
}

.navbar {
  background-color: black;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0 1rem

}

.nav-link {
  color:rgb(235, 176, 14);
  font-weight: bold
}

.nav-link:hover, .nav-link:focus {
  color:rgb(177, 133, 11)
}


/* Footer */

footer {
  background-color: #dbdbdb;
  padding: 2rem 0 1rem
}

/* .footer-container {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
} */

.responsible-message {
  background-color: #ebebeb;
  min-height: 4rem;
  padding: 1rem;
  color:rgba(161, 161, 161, 0.6);
  font-size: 3rem;
  font-weight: bold;
  margin-top: 3rem;
}

/* Home Page */

.beer-activity{  
  padding-top: 1rem;
  border-top: 1px solid #bfbfc7;
}


/* Brewery Page */

.brewery-beer-activity-container {
  margin-top: 4rem
}

.brewery-beer-activity{    
  padding-top: 1rem;
  border-top: 1px solid #bfbfc7;
}


/* View User */

img { 
  border-radius: 50%; 
  max-width: 15rem;
  max-height: 15rem;
}




